---
http_interactions:
- request:
    method: get
    uri: https://eodhd.com/api/eod/ALI.PSE?api_token=test-api-key&fmt=json&from=2024-01-01&to=2024-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"date":"2024-01-02","open":27.50,"high":28.00,"low":27.20,"close":27.80,"adjusted_close":27.80,"volume":5200000},{"date":"2024-01-03","open":27.80,"high":28.10,"low":27.60,"close":27.95,"adjusted_close":27.95,"volume":4800000},{"date":"2024-01-04","open":27.95,"high":28.50,"low":27.90,"close":28.30,"adjusted_close":28.30,"volume":6100000}]'
  recorded_at: 'Mon, 13 Apr 2026 00:00:00 GMT'
recorded_with: VCR 6.4.0
